<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="selenium:chromedriver" value="true" />
    <add key="selenium:firefoxdriver" value="false" />
    <add key="selenium:InternetExplorerDriver" value="false" />
    <add key="selenium:baseurl" value="http://localhost:5000/" />
    <add key="selenium:testattemptscount" value="1" />
    <add key="selenium:developermode" value="true" />
    <add key="selenium:fastmode" value="false" />
    <add key="selenium:LoggingPriorityMaximum" value="10" />
  </appSettings>
</configuration>