<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeCoverage" version="1.0.3" targetFramework="net462" />
  <package id="Microsoft.NET.Test.Sdk" version="15.5.0" targetFramework="net462" />
  <package id="Microsoft.TestPlatform.TestHost" version="15.5.0" targetFramework="net462" />
  <package id="MSTest.TestAdapter" version="1.2.0" targetFramework="net462" />
  <package id="MSTest.TestFramework" version="1.2.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
  <package id="Riganti.Selenium.Coordinator.Client" version="2.0.0" targetFramework="net462" />
  <package id="Riganti.Selenium.Core" version="2.0.0" targetFramework="net462" />
  <package id="Riganti.Selenium.Core.Abstractions" version="2.0.0" targetFramework="net462" />
  <package id="Riganti.Selenium.FluentApi" version="2.0.0" targetFramework="net462" />
  <package id="Riganti.Selenium.MSTest2Integration" version="2.0.0" targetFramework="net462" />
  <package id="Riganti.Selenium.Validators" version="2.0.0" targetFramework="net462" />
  <package id="Selenium.Support" version="3.8.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.8.0" targetFramework="net452" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net462" />
</packages>