ul.pager {
    display: block;

}

ul li {
    display: inline-block;
}

.update-progress {
    vertical-align: middle;
}

.update-progress .spinner {
    width: 50px;
    height: 40px;
    text-align: center;
    display: inline-block;
}

.update-progress .spinner > div {
    background-color: #f4831f;
    height: 100%;
    width: 6px;
    margin: 1px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.update-progress .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.update-progress .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.update-progress .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.update-progress .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.panel {
    width: 400px;
    height: 400px;
    justify-content: center; /* For horizontal alignment */
    align-items: center; /* For vertical alignment */
    border: 1px solid black;
}

.repeater {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

.box {
    width: 400px;
    height: 400px;
}

@keyframes update-progress-background-fade {
    0%, 50% {
        background: transparent;
    }

    100% {
        background: rgba(252, 252, 252, 0.4);
    }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }

    20% {
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
    }
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
    }

    20% {
        -webkit-transform: scaleY(1);
    }
}
