.id-header{
    background-color: green;
    text-align: center;
}
.fn-header {
    background-color: red;
    text-align: center;
}
.sn-header {
    background-color: blue;
    text-align: center;
}
.email-header {
    background-color: violet;
    text-align: center;
}